{% extends "base.html" %}{% block title %}Dashboard{% endblock %}{% block content %}
<h2>Agenti</h2>
<a class='btn' href='{{ url_for("new_agent") }}'>+ Nuovo agente</a>
<table class='table'>
<tr><th>Nome</th><th>Slug</th><th>Telefoni</th><th>Website</th><th>Azioni</th></tr>
{% for a in agents %}
<tr>
  <td>{{ a.name }}</td>
  <td><a href='{{ url_for("public_card", slug=a.slug) }}' target='_blank'>{{ a.slug }}</a></td>
  <td>{{ a.phone_mobile }}{% if a.phone_office %} / {{ a.phone_office }}{% endif %}</td>
  <td>{{ a.websites }}</td>
  <td>
    <a href='{{ url_for("edit_agent", slug=a.slug) }}'>Modifica</a>
    <form method='post' action='{{ url_for("delete_agent", slug=a.slug) }}' style='display:inline' onsubmit="return confirm('Eliminare {{ a.name }}?')">
      <button type='submit' class='link'>Elimina</button></form>
    <a href='{{ url_for("qr", slug=a.slug) }}' target='_blank'>QR</a>
    <a href='{{ url_for("vcard", slug=a.slug) }}' target='_blank'>vCard</a>
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}